.step2__conteiner {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Southbank Sans',OpenSans,Helvetica;
}

.step2__info {
    padding-top: 50px;
}

.step2__title {
    margin: 50px 0 34px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3em;    
}

.step2__item {
    display: flex;
}

.step2__response {
    margin: 0;
}